.section-d {
    @include set-background(#fff);
    padding: 40px 20px;

    .h1-div {
      max-width: 1200px;
      margin: auto;
    }
   
   .section-container {
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px dotted rgb(180, 178, 178);
    @include set-background($light-color);
   }
}

