
.section-c {
    @include set-background($light-blue-color);
  
  //this .section-container is customize style from global style scss
.section-container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding: 80px 0 0 0;
        }

        .logo-display {
        padding-top: 20px;
        width: 40%;
        justify-self:center; 
        }
         p {
        text-align: center;
        font-size: 1.3rem;
        padding: 70px 30px 80px 30px;
        }
}

@media (max-width: 500px) {

  .section-c .section-container {
  grid-template-columns: 1fr;
  justify-content: space-around;
  padding: 30px 0 10px 0;
  }
  .section-c .logo-display{
    width: 25%;
  }
  .section-c p{
    padding: 10px 30px 20px 30px;
  }
 
 }


