
.section-c {
    @include set-background($light-blue-color);

       
.section-container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }

        .logo-display {
                padding-top: 20px;
                width: 40%;
                justify-self:center; 
                }
         p {
        text-align: center;
        font-size: 1.3rem;
        padding: 30px 30px 30px 30px;
        }
}


