
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'color';
@import 'nav';
@import 'hero-img';
@import 'section-a';
@import 'section-b';
@import 'section-c';
@import 'section-d';
@import 'btn';


// _style.scss
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    @include set-background($light-color);
    font-family: $font-stack;
    line-height: 1.6;
  }
  img{
    width: 100%;
}

  a {
    text-decoration: none;
  }
 